@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
